.App {
  text-align: center;
  background-color: darkslategray;
  height: 100%;
}

.form {
  margin-bottom: -1.2rem;
}

.form input {
  margin-top: 1rem;
  height: 2rem;
  width: 15rem;
  border-radius: 10px;
  text-align: center;
}
.form select {
  height: 2rem;
  width: 5rem;
  border-radius: 8px;
}
.form option {
  font-size: 1rem;
}